asgiref==3.2.3
attrs==19.3.0
decorator==4.4.1
dj-database-url==0.5.0
Django==3.0.3
django-heroku==0.3.1
gunicorn==20.0.4
importlib-metadata==1.5.0
ipython-genutils==0.2.0
jsonschema==3.2.0
jupyter-core==4.6.2
nbformat==5.0.4
nbimporter==0.3.1
psycopg2==2.8.4
pyrsistent==0.15.7
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
traitlets==4.3.3
whitenoise==5.0.1
zipp==2.2.0
