{% extends 'execute_functions/base.html' %}
{% block content %}
    <form method="post" action="{% url 'execute_functions:execute' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        {% if bar_box %}
                            <img src="data:image/png;base64, {{ bar_box }}" alt="Red dot" style="max-width: 100%; height: 250px;" />
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="plot kind" name="plot_kind">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        {% if scatter %}
                            <img src="data:image/png;base64, {{ scatter }}" alt="Red dot" style="max-width: 100%; height: 250px;" />
                        {% endif %}
                    </div>
                    <div class="row">

                        <div class="col">
                            <input type="text" class="form-control" placeholder="scatter limit" name="scatter_plot_limit">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="bubble size" name="bubble_size">
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        {% if cube %}
                            <img src="data:image/png;base64, {{ cube }}" alt="Red dot" style="max-width: 100%; height: 250px;"/>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="random state" name="rand_state">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center mt-5">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary bt-block">Generate graphs</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="graph"></div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}